:root {
  --white: #ffffff;
  --light-gray-10: rgba(217, 217, 217, 0.1);
  --light-gray: #d9d9d9;
  --black: #000000;
  --dark-blue: #00113c;
  --light-gray-80: rgba(217, 217, 217, 0.8);
  --blue-shade: #235e71;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 600px) {
  * {
    margin: 0;
  }
}

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background: #00113c;
  background: var(--dark-blue);
}
